/*
Page styling regulars:
  
  Primary colors: 
    orange: #F26925
    var(--text-primary): #FFFFFF
    dark gray: #474C55
  
  secondary colors:
    blue: #72A4C2
    yellow: #FCB414
    light gray: #B9B9BA

  h1:
    font: futura-medium
    size: 48
  h2:
    font: futura-medium
    size: 38
  h3:
    font: futura-book
    size 30
    letter space: 3%
  text: 
    font: futura
    size: 24
    letter space: 3%
  comments:
    font: futura-book
    size: 18
    letter space: 3%
  subtext:
    font: futura-book
    size: 12
    letter space: 3%
*/

/*Testing Darkula*/
body {
  background-color: var(--background);
  color: var(--text-primary);
  font-size: 25px;
}

/* .dark-mode {
    background-color: black;
    color: var(--text-primary);
  } */
/*make a handful of colors and force yall to use them*/

/* var element = document.all;
for(let i = 0; i < element.length; i++){
element.item(i).classList.toggle("dark-mode");

}*/

#theme-button {
  position: relative;
  left: -1vh;
  background-color: var(--background-grey);
  color: var(--text-white);
  border: hidden;
  margin: 1vh;
}

@font-face {
  font-family: futura-bold, sans-serif;
  src: url("../assets/fonts/Futura-Std-Bold.otf");
}

@font-face {
  font-family: futura-book, sans-serif;
  src: url("../assets/fonts/Futura-Std-Book.otf");
}

@font-face {
  font-family: futura-heavy, sans-serif;
  src: url("../assets/fonts/Futura-Std-Heavy.otf");
}

@font-face {
  font-family: futura-medium, sans-serif;
  src: url("../assets/fonts/Futura-Std-Medium.otf");
}

#navbar {
  display: block;
  background-color: var(--background-grey);
  padding: 1.5vh 0vh 1vh 1.5vh;
  height: 100vh;
  font-size: 3vh;
  line-height: 30px;
  box-shadow: 0px 0px 2px var(--background-grey);
}

#navbar-links {
  display: grid;
  flex-direction: column;
}

.navbar-link {
  color: var(--text-white);
  font-size: 3.5vh;
  margin-top: 7vh;
}

.navbar-link:hover, #theme-button:hover {
  color: var(--background-orange);
}

.navbar-link:focus {
  color: var(--background-orange);
}

h3 {
  font-family: futura-book, sans-serif;
  font-size: 30px;
  letter-spacing: 3%;
}

/* LANDING */

#landingCard {
  top: 10vh;
  width: 70vh;
  padding: 70px;
  margin-right: 2vw;
  border-radius: 20px;
  background-color: var(--background-grey);
  box-shadow: 0px 0px 2px var(--background-grey);
  color: var(--text-white);
}

#logo-reverb {
  position: relative;
  top: 2vh;
  width: 60vh;
  margin-right: 19.5vh;
  opacity: 75%;
}

#logo-revature {
  position: relative;
  top: 1vh;
  opacity: 75%;
  width: 30vh;
  position: relative;
  top: -1vw;
  margin-left: 1vh;
}

/*LOGIN & REGISTRATION*/

#loginDiv {
  min-width: "600px";
  min-height: "500px";
  text-align: center;
}

#loginCard {
  background-color: var(--background-grey);
  color: var(--text-white);
  min-width: 600px;
  min-height: 500px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 3px var(--background-grey);
}

#loginCard input {
  margin-right: auto;
  margin-left: auto;
  max-width: 350px;
  font-size: 18px;
  border-radius: 20px;
}

#email,
#password {
  font-family: "futura-medium", sans-serif;
  font-size: 36px;
  margin: 40px;
}

.loginRow {
  display: block;
  text-align: center;
}

.loginRow h2 {
  color: var(--text-primary);
  font-family: "futura-medium", sans-serif;
  font-size: 48px;
  margin-bottom: 20px;
}

#cardSubtitle {
  font-family: futura-book, sans-serif;
  font-size: 18px;
  letter-spacing: 3%;
}

/* SEARCH */

#search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 999;
}

#search-container input {
  width: 55vw;
  height: 35px;
  border: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: var(--background-darkGrey);
  color: var(--text-primary);
  font-size: 0.8em;
  padding: 3px 15px;
  box-shadow: 0px 0px 2px var(--background-darkGrey);
}

.results-list {
  position: absolute;
  top: 55px;
  width: 55vw;
  padding: 8px 15px 10px 15px;
  background-color: var(--background-transparent-darkGrey);
  z-index: 999;
  backdrop-filter: blur(7px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 0.85em;
  box-shadow: 0px 0px 2px var(--background-transparent-darkGrey);
}

.search-result {
  color: var(--text-primary);
}

.search-result:hover {
  color: var(--text-primary-hover);
}

.profile-pic-mini {
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

/* POST FEED */

#feedBody {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

#postColumn {
  display: flex;
  justify-content: center;
  width: 55vw;
  background-color: var(--background-grey);
  padding: 20px 2vw;
  box-shadow: 0px 0px 3px var(--background-grey);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#feedButtons {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-items: center;
}

#postAuthor,
#postBody {
  font-size: 18px;
  letter-spacing: 3%;
}

#postVideo {
  height: 50vh;
  width: 100%;
}

#postImage {
  max-width: 100%;
}

#postCard {
  text-align: left;
  margin-top: 5vh;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#commentBody {
  font-family: futura-book, sans-serif;
  font-size: 18px;
}

#commentfFooter {
  font-family: futura-book, sans-serif;
  font-size: 12px;
}

#reverbIcon {
  width: 25px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

#reverbIcon:hover {
  transform: translateX(5px);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

/* PROFILE */

#ProfilePage {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  padding: 2rem;
  border-radius: 15px;
  background-color: var(--background-profile);
  color: var(--text-white);
  box-shadow: 0px 0px 3px var(--background-profile);
}

#ProfileImageHeader{
  display: flex;
}

#EditProfile {
  width: 1000px;
  max-width: 1000px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--background-profile);
}

#ProfileName {
  margin: 1vh 0vw 3vh 0vw;
  text-align: center;
  color: var(--text-primary);
  font-size: 40px;
  letter-spacing: 0%;
}

#AboutMe {
  background-color: var(--background-darkGrey);
  box-shadow: 0px 0px 3px var(--background-darkGrey);
  color: var(--text-primary);
  margin-top: 4vh;
  padding: 15px 20px;
  border-radius: 15px;
  text-align: justify;
  font-size: 2.75vh;
  letter-spacing: 3%;
}

#AboutMe h5 {
  font-weight: 800;
}

#HeaderImg {
  height: 30vh;
  width: 64vw;
  border-radius: 15px;
}

#ProfileImg {
  border: 2px solid #72a4c2;
  border-radius: 50%;
  height: 175px;
  width: 175px;
  position: absolute;
  top: 18%;
  left: 52.5%;
  z-index: 2;
  /* margin-top: -15%; */
  background: lightgrey;
}

#LoadingImg {
  height: "96px";
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#follow-btn {
  float: right;
  background: var(--text-green);
}

#following-num {
  margin-top: -3%;
  padding-right: 10px;
  float: right;
}

#followers-num {
  margin-top: -5%;
  padding-right: 10px;
  float: right;
}

/* EDIT PROFILE */

#editCol2 {
  margin-left: -20px !important;
  padding-left: 20px !important;
  border-left: 3px solid #ffff;
}

#editCol1 {
  padding-right: 20px !important;
}

#editCol1,
#editCol2 {
  margin: 20px;
}

#updateProfileBtnCol,
#cancelProfileBtnCol {
  text-align: center;
}

#editButtonsRow {
  margin-top: 30px;
}

#EditProfile .form_input-group {
  margin-bottom: 1rem;
  color: var(--text-primary);
  font-size: 48;
  font-family: "futura-book", sans-serif;
}

#EditProfile .form_input {
  display: block;
  width: 100%;
  padding: 0.7rem;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid var(--border-lightBlue);
  outline: none;
  background-color: var(--background);
  color: var(--text-primary);
  transition: background-color 0.2s, border-color 0.2s;
}

#EditProfile .form_input:focus {
  border-color: var(--order-blue);
  background-color: var(--background);
}

#EditProfile .form_link {
  color: var(--text-secondary);
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

#EditProfile .form_link:hover {
  text-decoration: underline;
  color: var(--text-green);
}

/* BUTTONS */

button {
  border: none;
}

#leaveCommentBtn,
#submitCommentBtn,
#submitPostBtn,
#UpdateProfile {
  background-color: var(--background-lightBlue);
  border-color: var(--background-lightBlue);
}

#EditProfileButton,
#loginCard button,
#postBtn,
#refreshBtn,
#reverbButton {
  background-color: var(--background-orange);
  border-color: var(--border-orange);
  box-shadow: 0px 0px 4px var(--border-orange);
}

#postBtn,
#refreshBtn {
  width: fit-content;
}

#postBtn {
  margin-right: 5vw;
}

#refreshBtn {
  margin-left: 5vw;
}

#CancelEdits {
  background-color: var(--background-yellow);
  border-color: var(--background-yellow);
}

#loginCard button {
  max-width: 150px;
  min-height: 40px;
  border-radius: 15px;
  font-size: 30px;
}

.follow-btn,
#leaveCommentBtn,
#postBtn,
#refreshBtn,
#reverbBtn,
#submitCommentBtn,
#submitPostBtn {
  border-radius: 20px;
}

#CancelEdits,
#EditProfileButton,
#UpdateProfile {
  border-radius: 10px;
}

#EditProfileButton {
  position: absolute;
  margin: 0.5vh 0vw 0vh 2vw;
}

.follow-btn {
  margin-left: 15px;
  padding: 1.5px 9px;
  border-radius: 20px;
  background-color: rgba(0, 156, 78, 0.8);
  border-color: rgba(0, 156, 78, 0.8);
  box-shadow: 0px 0px 2px rgba(0, 156, 78, 0.8);
  color: var(--text-white);
  font-size: 0.65em;
  float:right;
  margin-top: -3%;
}

.follow-btn:hover {
  background-color: rgba(0, 190, 95, 0.8);
  border-color: rgba(0, 190, 95, 0.8);
  box-shadow: 0px 0px 2px rgba(0, 190, 95, 0.8);
}

#EditProfileButton,
#leaveCommentBtn,
#postBtn,
#refreshBtn,
#submitCommentBtn,
#submitPostBtn {
  font-size: 18px;
  white-space: nowrap;
}

#EditProfileButton {
  margin-left: 30%;
  margin-bottom: 30px;
}

#CancelEdits,
#UpdateProfile {
  width: 10em;
  height: 2.5em;
}

#postBtn,
#refreshBtn {
  padding: 5px 16px;
}

#refresh-icon {
  width: 15px;
  margin-bottom: 3px;
}

a,
body,
#CancelEdits, #CancelEdits:hover,
#EditProfileButton, #EditProfileButton:hover,
.follow-btn, .follow-btn:hover,
#homeLink, #homeLink:hover,
#leaveCommentBtn, #leaveCommentBtn:hover,
#loginCard button, #loginCard button:hover,
.navbar-link, .navbar-link:hover, #theme-button, #theme-button:hover,
#postBtn, #postBtn:hover,
#refreshBtn, #refreshBtn:hover,
.search-result, .search-result:hover,
#search-results,
#submitCommentBtn, #submitCommentBtn:hover,
#submitPostBtn, #submitPostBtn:hover,
#UpdateProfile, #UpdateProfile:hover {
  transition-property: all;
  -webkit-transition-property: all;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}

#CancelEdits:hover,
#EditProfileButton:hover,
#leaveCommentBtn:hover,
#loginCard button:hover,
#postBtn:hover,
#refreshBtn:hover,
#submitCommentBtn:hover,
#submitPostBtn:hover,
#UpdateProfile:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

#homeLink:hover {
  transform: scale(1.03);
}
