/*
Page styling regulars:
  
  Primary colors: 
    orange: #F26925
    var(--text-primary): #FFFFFF
    dark gray: #474C55
  
  secondary colors:
    blue: #72A4C2
    yellow: #FCB414
    light gray: #B9B9BA

  h1:
    font: futura-medium
    size: 48
  h2:
    font: futura-medium
    size: 38
  h3:
    font: futura-book
    size 30
    letter space: 3%
  text: 
    font: futura
    size: 24
    letter space: 3%
  comments:
    font: futura-book
    size: 18
    letter space: 3%
  subtext:
    font: futura-book
    size: 12
    letter space: 3%
*/

.App {
  text-align: center;
}

/*Testing Darkula*/
body {
  padding: 25px;
  background-color: var(--background);
  color: var(--text-primary);
  font-size: 25px;
}

/* .dark-mode {
    background-color: black;
    color: var(--text-primary);
  } */
/*make a handful of colors and force yall to use them*/

/* var element = document.all;
for(let i = 0; i < element.length; i++){
element.item(i).classList.toggle("dark-mode");

}*/

#theme_button {
  background-color: var(--background-grey);
  color: var(--text-white);
  border: hidden;
}

@font-face {
  font-family: futura-bold, sans-serif;
  src: url("../assets/fonts/Futura-Std-Bold.otf");
}

@font-face {
  font-family: futura-book, sans-serif;
  src: url("../assets/fonts/Futura-Std-Book.otf");
}

@font-face {
  font-family: futura-heavy, sans-serif;
  src: url("../assets/fonts/Futura-Std-Heavy.otf");
}

@font-face {
  font-family: futura-medium, sans-serif;
  src: url("../assets/fonts/Futura-Std-Medium.otf");
}

#navbar {
  background-color: var(--background-lightGrey);
  width: 150;
  height: "100vh";
  min-height: "450px";
  /* font-size: "24px";
    line-height: "30px"; */
}

h3 {
  font-family: futura-book, sans-serif;
  font-size: 30px;
  letter-spacing: 3%;
}

/* LANDING */

#landingCard {
  padding: 10%;
  margin: 10%;
  border-radius: 2%;
  background-color: var(--background-grey);
  color: var(--text-primary);
}

#landingCard {
  padding: 10%;
  margin: 10%;
  background-color: var(--background-grey);
  color: var(--text-primary);
  margin: 5%;
  border-radius: 20px;
}

/*LOGIN & REGISTRATION*/

#loginDiv {
  min-width: "600px";
  min-height: "500px";
  text-align: center;
}

#loginCard {
  background-color: var(--background-grey);
  color: var(--text-primary);
  min-width: 600px;
  min-height: 500px;
  margin: 0;
  border-radius: 20px;
}

#loginCard button {
  border-color: var(--border-orange);
  background-color: var(--background-orange);
  max-width: 150px;
  min-height: 40px;
  border-radius: 13px;
  font-family: futura-book, sans-serif;
  font-size: 30px;
}

#loginCard input {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  max-width: 350px;
  font-size: 18px;
  border-radius: 20px;
}

#email,
#password {
  font-family: "futura-medium", sans-serif;
  font-size: 36px;
}

.loginRow {
  margin-right: 150px;
}

.loginRow h2 {
  color: var(--text-primary);
  font-family: "futura-medium", sans-serif;
  font-size: 48px;
  margin-bottom: 20px;
}

#cardSubtitle {
  font-family: futura-book, sans-serif;
  font-size: 18px;
  letter-spacing: 3%;
}

#loginLink,
#registerLink,
#logoutLink {
  color: var(--text-white);
  font-size: 38px;
  font-family: "futura-medium", sans-serif;
  margin-top: 7vh;
  padding-bottom: 15px;
}

#profileLink {
  color: var(--text-white);
  font-size: 38px;
  font-family: "futura-medium", sans-serif;
  margin-top: 7vh;
}

#loginLink:hover,
#registerLink:hover,
#profileLink:hover,
#logoutLink:hover {
  background-color: var(--background-orange);
}

/* POST FEED */

#postAuthor {
  font-family: futura-book, sans-serif;
  font-size: 18px;
  letter-spacing: 3%;
}

#feedBody {
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease;
}

#postBody {
  font-family: futura-book, sans-serif;
  font-size: 18px;
  letter-spacing: 3%;
}

#postVideo {
  height: 50vh;
  width: 100%;
}

#postImage {
  max-width: 100%;
}

#postCard {
  text-align: left;
  margin-top: 5vh;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#commentBody {
  font-family: futura-book, sans-serif;
  font-size: 18px;
}

#commentfFooter {
  font-family: futura-book, sans-serif;
  font-size: 12px;
}

#reverbIcon {
  width: 25px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

#reverbIcon:hover {
  transform: translateX(5px);
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

#postColumn {
  background-color: var(--background-grey);
  padding-top: 2%;
  padding-right: 10%;
  padding-left: 10%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

/* PROFILE */

#ProfilePage {
  width: 1000px;
  height: 900px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--background-profile);
}

#EditProfile {
  width: 1000px;
  max-width: 1000px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--background-profile);
}

#ProfileName {
  text-align: center;
  color: var(--text-primary);
  font-family: "futura-medium", sans-serif;
  font-size: 48px;
  letter-spacing: 0%;
}

#AboutMe {
  background-color: var(--background-darkGrey);
  color: var(--text-primary);
  margin-left: -30px;
  margin-right: -30px;
  padding: 15px;
  border-radius: 10px;
  text-align: justify;
  text-indent: 5px;
  font-family: futura-book, sans-serif;
  font-size: 12;
  letter-spacing: 3%;
}

#AboutMe h5 {
  font-family: futura-medium, sans-serif;
}

#HeaderImg {
  max-height: 350px;
  max-width: 1000px;
  position: relative;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

#ProfileImg {
  border: 2px solid #72a4c2;
  border-radius: 50%;
  height: 175px;
  width: 175px;
  object-fit: cover;
  position: absolute;
  top: 30%;
  left: 40%;
  z-index: 2;
}

#LoadingImg {
  height: "96px";
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* EDIT PROFILE */

#editCol2 {
  margin-left: -20px !important;
  padding-left: 20px !important;
  border-left: 3px solid #ffff;
}

#editCol1 {
  padding-right: 20px !important;
}

#editCol1,
#editCol2 {
  margin: 20px;
}

#updateProfileBtnCol,
#cancelProfileBtnCol {
  text-align: center;
}

#editButtonsRow {
  margin-top: 30px;
}

#EditProfile .form_input-group {
  margin-bottom: 1rem;
  color: var(--text-primary);
  font-size: 48;
  font-family: "futura-book", sans-serif;
}

#EditProfile .form_input {
  display: block;
  width: 100%;
  padding: 0.7rem;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid var(--border-lightBlue);
  outline: none;
  background-color: var(--background);
  color: var(--text-primary);
  transition: background-color 0.2s, border-color 0.2s;
}

#EditProfile .form_input:focus {
  border-color: var(--order-blue);
  background-color: var(--background);
}

#EditProfile .form_link {
  color: var(--text-secondary);
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

#EditProfile .form_link:hover {
  text-decoration: underline;
  color: var(--text-green);
}

/* BUTTONS */

#EditProfileButton {
  margin-bottom: 30px;
}

#EditProfileButton,
#UpdateProfile {
  background-color: var(--background-lightBlue);
  border-color: transparent;
  border-radius: 10px;
  color: var(--text-primary);
  font-family: futura-book;
}

#UpdateProfile {
  width: 10em;
  height: 2.5em;
}

#CancelEdits {
  height: 2.5em;
  width: 10em;
  background-color: var(--background-yellow);
  border-color: transparent;
  border-radius: 10px;
  color: var(--text-primary);
  font-family: futura-book, sans-serif;
}

#postBtn,
#refreshBtn,
#leaveCommentBtn,
#submitPostBtn,
#submitCommentBtn,
#loginCard button,
#EditProfileButton,
#UpdateProfile,
#CancelEdits {
  transition-property: all;
  -webkit-transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}

#postBtn:hover,
#refreshBtn:hover,
#leaveCommentBtn:hover,
#submitPostBtn:hover,
#submitCommentBtn:hover,
#loginCard button:hover,
#EditProfileButton:hover,
#UpdateProfile:hover,
#CancelEdits:hover {
  transition-property: all;
  -webkit-transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  font-weight: bold;
  transform: scale(1.05);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#homeLink:hover {
  transition-property: all;
  -webkit-transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transform: scale(1.03);
}

#reverbButton {
  color: var(--text-primary);
  background-color: var(--background-orange);
  border: none;
  border-radius: 20px;
}

#feedButtons {
  margin-bottom: 10%;
}

#feedButtons button {
  background-color: var(--background-orange);
  border-color: var(--border-orange);
}

#feedButtons button img {
  height: 20px;
}

#postBtn {
  float: left;
}

#refreshBtn {
  float: right;
}

#postBtn,
#refreshBtn,
#leaveCommentBtn,
#submitPostBtn,
#submitCommentBtn {
  background-color: var(--background-lightBlue);
  border-color: var(--border-lightBlue);
  border-radius: 20px;
  font-family: futura-book, sans-serif;
  font-size: 18px;
}
