html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#app {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 5fr;
}

#main-router-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

a:link, a:active, a:visited {
  text-decoration: none;
}

/*TODO: Color names should be standardized vs just analoged to original layout.*/
/*Once names are standardized, where color is overwritten should have the right variable assigned.*/

:root {
  --background: white;
  --background-orange: #f26925f6;
  --background-yellow: #fcb414;
  --background-lightBlue: #4a88af;
  --background-grey: #4b5055;
  --background-profile: #b4b9be;
  --background-lightGrey: #f2f3f5;
  --background-darkGrey: #51575e;
  --background-transparent-darkGrey: #e6e6ebbf;
  --background-profile-fields: #f2f3f5;
  --text-primary: black;
  --text-primary-hover: #575c66;
  --text-secondary: royalblue;
  --text-green: Green;
  --text-white: White;
  --text-blue: blue;
  --text-beacon-of-blindness: black;
  --accent-color: purple;
  --border-orange: #f26925f6;
  --border-blue: blue;
  --border-white: white;
  --border-lightBlue: #72a4c2;
  --background-delete: #ff0000;
}

[data-theme="dark"] {
  --background: #202225;
  --background-orange: #f26925f6;
  --background-yellow: #fcb414;
  --background-lightBlue: #4a88af;
  --background-lightGrey: #b9b9ba;
  --background-darkGrey: #51575e;
  --background-transparent-darkGrey: #464b50b3;
  --background-profile-fields: #51575e;
  --background-grey: #464b50;
  --background-profile: #9ba0a5;
  --text-primary: white;
  --text-primary-hover: #b4b0ab;
  --text-secondary: Grey;
  --text-green: Green;
  --text-white: White;
  --text-blue: blue;
  --text-beacon-of-blindness: white;
  --accent-color: rgb(224, 163, 224);
  --border-orange: #f26925;
  --border-blue: rgb(102, 102, 226);
  --accent-color: #e0a3e0;
  --border-orange: #f26925f6;
  --border-blue: #6666e2;
  --border-white: Grey;
  --border-lightBlue: #598097;
  --background-delete: #ff2828;
}
